body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
  }
  
  .sidebar {
    margin: 0;
    padding: 0;
    width: 215px;
    background-color: #ffffff;
    border-right: solid 1px #252525;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  .sidebar a {
    display: block;
    color: black;
    padding: 14px;
    text-decoration: none;
  }
   
  .sidebar a.active {
    text-decoration: underline;
    font-weight: bold;
  }
  
  .sidebar a:hover:not(.active) {
    font-weight: bold;
  }

  .button {
    text-decoration: none;
    font-size: 18px;
    color: black;
    border-radius: 30px;
    width: 135px;
    height: 39px;
    background-color: #ffffff;
    margin-left: 2.5rem;
    transition-duration: 0.4s;
}

.button:hover {
  background-color: rgb(220,85,120,0.3); 
  color: black;
}

  h1 {
    font-family: 'Roboto Medium', sans-serif;
    font-size: 30px;
    text-align: center;
  }

  h6 {
    font-family: 'Roboto Bold', sans-serif;
    font-size: 14px;
  }

  p {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
  }
  
  div.content {
    margin-left: 200px;
    padding: 20px 16px;
    height: auto;
  }

  .listings {
      margin: 20px 20px;
  }

  .readmore {
    display: inline;
    float: right;
  }

  .down {
    margin-top: 15rem;
  }
  
  .icons {
    margin-left: 1rem;
  }

  .arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin-left: 60rem;
  }

  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    margin-left: 60rem;
  }
  
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }
